:root {
    --color1: #03045e;
    --color2: #023e8a;
    --color3: #0077b6;
    --color4: #00b4d8;
    --color5: #90e0ef;

}

body {
    background-color: var(--color5);
}

.header-box {
    background-color: var(--color1);
    color: var(--color5);
}

.main {
    display: flex;
}

.left-box {
    color: white;
    width: 25%;
    height: 75%;
}

/* search box CSS */
.search-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--color3);
    height: 150px;
}

label {
    font-size: x-large;
    text-decoration: underline;
}

input {
    font-size: large;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    margin-left: 10%;
}

button {
    font-weight: bold;
    border-radius: 5px;
    width: 60%;
    height: 25%;
    margin-left: 22%;
}
button:hover {
    cursor: pointer;
    border: solid black 3px;
    background-color: antiquewhite;
}

/* History Box CSS */
.history-box {
    display: flex;
    flex-direction: column;
    background-color: var(--color4);
    text-align: center;
    text-decoration: underline;
    height: 500px;
}

.history-tempbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#clear {
    width: 50%;
    height: 35px;
    margin-left: 25%;
}

.item {
    background-color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 15%;
    margin-left: 5%;
    border-radius: 7px;
    margin-bottom: 5px;
    font-size: 18px;
}
.item:hover {
    cursor: pointer;
    background-color: var(--color3);
}

/* weather box CSS */
.weather-box {
    background-color: var(--color5);
    margin-left: 15px;
    width: 72%;
    color: white;
}

.temp-box {
    display: flex;
    width: 100%;
    height: 30%;
    margin-left: 10px;
}

#temperature {
    font-size: 300%;
}
#icon {
    width: auto;
}
#city {
    margin-left: 10px;
}
.small-data {
    margin-left: 10px;
}

#favorable {
    color: rgb(4, 199, 4);
    margin-left: 10px;
}

#moderate {
    color: yellow;
    margin-left: 10px;
}

#severe {
    color: rgb(252, 39, 39);
    margin-left: 10px;
}

.index {
    display: flex;
}
.today-weather {
    background-color: var(--color3);
    height: 350px;
    border-bottom: solid black 2px;
}


/* forecast weather box CSS */
.other-weather {
    display: flex;
    justify-content: space-around;
    background-color: var(--color5);
    height: 240px;
}

.entry-box {
    width: 49%;
    border-top: solid var(--color5) 3px;
    border-right: solid var(--color5) 3px;
    border-bottom: solid var(--color5) 3px;
    background-color: var(--color3);
}

.small-box {
    display: flex;
    width: 100%;
    height: 25%;
    margin-left: 10px;
}

#small-icon {
    width: auto;
}

.tiny-data {
    margin-left: 10px;
}

/* responsive layout for the forecast weather boxes */
@media (max-width: 1200px) {
    .other-weather {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--color5);
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 595px) {
    .entry-box {
        width: 49%;
        border-top: solid var(--color5) 3px;
        border-right: solid var(--color5) 3px;
        border-bottom: solid var(--color5) 3px;
        background-color: var(--color3);
    }
}